<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tinymce-variable demo page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../../../node_modules/tinymce/tinymce.js"></script>
  <script src="../../../scratch/compiled/demo.js"></script>
  <style>
    body .mce-tinymce {
      border: 1px solid #9e9e9e;
      border-radius: 5px;
      overflow: hidden;
    }

    body .mce-edit-area {
      border: none;
    }
  </style>
</head>

<body>
  <form method="post">
    <textarea rows="18">
          Dear {{username}},
          <p>
            Thanks for joining our {{community_name}} community. I hope you'll enjoy your time here. If you would have any question don't hesitate to call me on {{phone}} or shoot me an email at {{email}}.
          </p>
          Sincerely,<br />
          {{sender}}
    </textarea>
  </form>
</body>

</html>